<!-- Date: 15th-18th April
By Shaunaq Paul -->

<!-- About for meta information  -->


<%-include("header")-%>

    <div class="about-section">
        <h1>About Us Page</h1>
        <p style="color:black;">We are a group of three B.tech. final year students
             pursuing our B.Tech. with Computer Science and
            Engineering
            branch from Motilal Nehru National Institute of Technology.</p>
        <p style="color:black;"> The cloth donation site is our final semester
             project under guidance of our mentor professor M.M. Gore.</p>
        <p style="color:black;"> We intend help to people in dire need 
            of clothes and save lives and environment by reducing cloth wastage.</p>
    </div>

    <h2 style="text-align:center">Our Team</h2>
    <div class="row">
        <div class="column">
            <div class="card">
                <!-- <img src="../public/images/shikha.jpg" alt="Shikha Singh" style="width:100%"> -->
                <div class="container">
                    <h2>Shikha Singh</h2>
                    <p class="title">Group Leader</p>
                    <p>Responsible for backend work.</p>
                    <p>Mail: shikhasinghs216@gmail.com</p>
                    <a
                        href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCHrlGBGqQwbnQXmvktGZLRVHxTDQsjLfTNvccJrqhXhkhnDMdjhqcXnxJhcNXWDXKFnFzMg">
                        <p><button class="button">Contact</button></p>
                    </a>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <!-- <img src="../public/images/surya.jpg" alt="Surya Pratap Singh" style="width:100%"> -->
                <div class="container">
                    <h2>Surya Pratap Singh</h2>
                    <p class="title">Member of Group</p>
                    <p>Responsible for UI/UX Experience</p>
                    <p>Mail: surya.singh15071999@gmail.com</p>
                    <a
                        href="https://mail.google.com/mail/u/0/#inbox?compose=jrjtXFBHzxZpCJfjKVHGntjQMFJtKZTbwgLhSLJxvpvgJcSrWnBLnbfMlTTMVbSbWMShVBSD">
                        <p><button class="button">Contact</button></p>
                    </a>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <!-- <img src="../public/images/shikha.jpg" alt="Shaunaq Paul" style="width:100%"> -->
                <div class="container">
                    <h2>Shaunaq Paul</h2>
                    <p class="title">Member of Group</p>
                    <p>Responsible for maintenance and support</p>
                    <p>Mail: shaunaqpaulofficial@gmail.com</p
                    <a
                        href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcRwQZhMchBLcsTTHWnxSTmppDWnhwtFjpqhGmLcrkDwlhSrBNgdGthklwhJGzBDSmCSvFBSM">
                        <p><button class="button">Contact</button></p>
                    </a>

                </div>
            </div>
        </div>
    </div>

    <%-include("footer")-%>