<!-- Date: 7-15th April 2020
By : Shikha Singh -->

<!--Result of Disease of an User -->


<%-include("header")-%>

  <h1 id="answer" style="color: rgb(158, 44, 50);"><u>Donation Successful!</u></h1>
  <h1 id="abc" style="color:rgb(170, 73, 170)"><u>Thankyou for your donations</u></h1>

  <div class="box" id="heading" style="background-color: rgb(221, 176, 176); border: solid black 2px  ;">
    <a href="currentStatus">
      <button style="color:white">Track Current Donation</button>
    </a>

    <br />
    <a href="/donationList">
      <button type="submit" style="color:white">See All Previous Donations</button>
    </a>

    <br />
    <a href="addDetails">
      <button style="color:white">Donate More</button>
    </a>

    <br />
    <a href="/aboutpage">
      <button type="submit" style="color:white">Know More About Us</button>
    </a>
  </div>

  <%-include("footer")-%>