<!-- Date: 25th-29th April
By Shaunaq Paul -->

<!-- Meta Information of Contact for further Query-->



<%-include("header")-%>

<h1>For queries reach to us</h1>

<h3>Email : abc@d.com</h3>
<h3>Facebook : abc@d.com</h3>
<h3>Instagram : abc@d.com</h3>
<h3>Support line : abc@d.com</h3>



 <%-include("footer")-%>