<!-- Date: 25th-29th April
By Shaunaq Paul -->

<!-- Meta Information of Contact for further Query-->



<%-include("header")-%>

    <h1>For queries reach to us</h1>

    <h3>Email : donate.us@gmail.com</h3>
    <h3>Facebook : DONATE US</h3>
    <h3>Instagram : @donate_us</h3>
    <h3 style="margin-bottom: 400px;">Support line : +91 1234567890</h3>



    <%-include("footer")-%>