<!-- Date: 1st-2nd May 2020
By : Surya Pratap Singh -->

<!-- Details of the donar-->

<%-include("header")-%>
    <style>
        /* The container */
        .container {
            display: block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 12px;
            cursor: pointer;
            font-size: 22px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        /* Hide the browser's default checkbox */
        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        /* Create a custom checkbox */
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            background-color: #eee;
        }

        /* On mouse-over, add a grey background color */
        .container:hover input~.checkmark {
            background-color: #ccc;
        }

        /* When the checkbox is checked, add a blue background */
        .container input:checked~.checkmark {
            background-color: #2196F3;
        }

        /* Create the checkmark/indicator (hidden when not checked) */
        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }

        /* Show the checkmark when checked */
        .container input:checked~.checkmark:after {
            display: block;
        }

        /* Style the checkmark/indicator */
        .container .checkmark:after {
            left: 9px;
            top: 5px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    </style>
    <h1 id="abc"
        style="border-radius: 5px; border: solid black 2px; width: 25%; margin: auto; margin-top: 100px; background-color: rgb(201, 108, 111);">
        Donation Details</h1>

    <div
        style="background-color: rgb(235, 206, 206); width: 55%; margin: auto; margin-bottom: 300px; margin-top: 50px; padding: 25px; padding-top: 40px; padding-bottom: 40px; border-radius: 20px; border: solid 1px rgb(54, 53, 53); box-shadow: 2px 4px #bbb8b8;">

        <div
            style="width: 49%; height: 50px; text-align: center;color: rgb(41, 38, 36); float:left; border-radius: 10px; border: 1px solid rgb(172, 160, 160);">
            <h2> <u>Date</u>
            </h2>
            15/07/2021 at 10:03 A.M.
        </div>
        <div
            style="width: 49%; height: 50px; text-align: center; color: rgb(41, 38, 36); float:right; border-radius: 10px; border: 1px solid rgb(172, 160, 160);">
            <h2> <u>Unique Id</u>
            </h2>
            145433664325
        </div>

        <div style="height: 100px;border-bottom: dotted black 1px; margin-bottom: 50px;">
        </div>

        <div
            style="width: 70%; height: auto; text-align: center; clear:both; margin-top: 25px; margin: auto; border-radius: 10px; border: 1px solid rgb(172, 160, 160);">
            <h1>Donated Items</h1>
            <ol style="padding-left: 25%; text-align: left; font-size: larger; width: 50%; ">
                <li style="border-bottom: dotted black 1px;">
                    <h3> 3 Medium 18+  Summer Clothes for Female</h3>
                </li>
                <li style="border-bottom: dotted black 1px;">
                    <h3>1 Large 6-12  Summer Clothes for Male</h3>
                </li>
                <li style="border-bottom: dotted black 1px;">
                    <h3>6  Medium 19+  Winter Clothes for Female</h3>
                </li>
            </ol>
        </div>

        <div style="height: 50px;border-bottom: dotted black 1px; margin-bottom: 50px;">
        </div>

        <div style="text-align: center; margin-bottom: 10px;">
            <h1>Current Status</h1>
        </div>
        <div>
            <label class="container">Pickup scheduled on 10 A.M.  23/07/2021.
              <p style ="color:black;">[ Pickup No. 1234567890 ]</p>
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
            </label>
            <label class="container">Packet reached to the station
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <label class="container">In transit
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <label class="container">Delivered on date : NA
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
        </div>

    </div>

    <%-include("footer")-%>
