<!--Home Page of application -->

<!-- Date: 20-23th March 2020
By Surya Pratap Singh -->

<%-include("header")-%>

  <main>
    <div class="container">
      <div class="sub_main">
        <h1>Welcome to DonateUs</h1>
        <p>
          Action speaks louder than words!
          Participate in changing the world by donating clothes 
          and save a life. Any help is appreciated.
          Save lives by doing your part.  We will make sure that your donations reaches to the needy.
        </p>
        <a href="/userDetails">
          <button>Donate Clothes</button>
        </a>
      </div>
    </div>
  </main>

  <%-include("footer")-%>