<!-- Date: 7th-14th  April 2020
By : Shikha Singh -->
<!-- List of Symptoms under particular Category-->
<%-include("header")-%>

  <h1 id="abc" ><u><%=Title%></u></h1>

  <div class="box" id="heading">
    <a href="DiseaseCatList">
      <button style="color:white">Select Organisation to Donate</button>
    </a>

    <a href="successPage">
      <button style="color:white">Donate to the most Needy</button>
    </a>
  </div>

  <%-include("footer")-%>