<!-- Date: 7th-14th  April 2020
By : Shikha Singh -->
<!-- List of Symptoms under particular Category-->
<%-include("header")-%>

  <h1 id="abc" style="color: rgb(112, 23, 23);"><u>Add the Cloth Details You Want To Donate</u></h1>

  <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, voluptas officia soluta temporibus quas nobis
    culpa rem illo corporis ex dicta dolores! Sit inventore, illum similique cum culpa aspernatur earum!
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint vitae reiciendis nulla corrupti, quam ut sunt labore
    expedita eum consequuntur laborum nobis. Error optio quasi amet odio quia tempore. Voluptatem.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum sint quam enim, dolorem, dolores vitae est deserunt
    dolor sapiente debitis voluptatibus eius nam et natus sunt quod autem commodi consequatur!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum sunt, odio facere reiciendis soluta ipsam,
    veritatis magnam praesentium dignissimos voluptates quaerat nam quis. Quos adipisci suscipit sed, cum totam aliquid.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur dolorem voluptas ea, praesentium ut perferendis,
    dolore corrupti illo possimus recusandae voluptatem distinctio? Numquam nostrum id ipsa quod nisi consectetur velit?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil nobis quos perferendis expedita ad ab nemo ipsa dolor
    odio quia! Odio quia maxime autem ipsa quod officiis aliquid nulla hic!
  </h1>

  <div class="box" id="heading">
    <a href="DiseaseCatList">
      <button style="color:white">Choose Organisation to Donate</button>
    </a>

    <a href="successPage">
      <button style="color:white">Donate Directly</button>
    </a>
  </div>

  <%-include("footer")-%>